$primary-color: #e99d57;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3em;
  text-align: center;
}
.posts {
  list-style: none;
  padding: 0;
  margin: 5em 0;

  li {
    margin-bottom: 4em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: 0;
    }
  }
}

.formContent{
  width: 100%;
  font-size: 1.4em;
  padding: .8em;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}
.formButton{
  background: #4948A7;
  border-radius: 5px;
  color:white;
  border:0;
  padding: .6em 1em;
  font-size: 1.1em;
}